<div class="row">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link sb-home-url" href="/">Home</a></li>
                    {% if "username" in session %}
                        <li class="nav-item"><a class="nav-link sb-settings-url" href="/settings">Settings</a></li>
                    {% endif %}
                    {% if session['update'] == "true" %}
                        <li class="nav-item sb-update-li">
                            <a class="nav-link sb-update-url" href="https://github.com/Azumi67/#-how-to-update-the-dashboard">New Update Available!<span class="dot dot-running"></span></a>
                        </li>
                    {% endif %}
                </ul>
                <hr>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Settings</span>
                                 </h6>
                <ul class="nav flex-column">
                    {% for i in conf %}
                        <li class="nav-item"><a class="nav-link sb-{{ i['conf'] }}-url" href="/configuration/{{ i['conf'] }}"><samp>{{ i['conf'] }}</samp></a></li>
                    {% endfor %}
                </ul>
                <hr>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Tools</span>
                </h6>
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#ping_modal" href="#">Ping</a></li>
             
                    <li class="nav-item"><a class="nav-link" href="/backup"> Backup</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#telegram_modal" href="#">Telegram Channel </a></li>
                </ul>
                <hr>
                {% if "username" in session %}
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link text-danger" href="/signout" style="font-weight: bold">Sign out </a></li>
                    </ul>
                {% endif %}
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="https://github.com/Azumi67">
                            <small class="nav-link text-muted">{{ session['dashboard_version'] }}</small>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="modal fade" id="telegram_modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">OPIran Telegram Channel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Join our Telegram channels for Questions/Answers:</p>
                <a href="https://t.me/OPIranClub" target="_blank" class="btn btn-primary">OPIran Club Channel</a>
                <a href="https://t.me/opiranv2rayproxy" target="_blank" class="btn btn-primary">OPIran Telegram Channel</a>
            </div>
        </div>
    </div>
</div>